.navbar_container {
  position: sticky;
  top: 0;
  left: 0;
  height: 3.5rem;
  background-color: #fff;
  width: 100%;
  z-index: 50;
  display: flex;
  border-bottom: 0.5px solid #dcdcdc;
}
.navbar_wrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}
.navbar_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 3.5rem;
  justify-content: center;
  transition: 0.5s;

  img {
    max-width: 17rem;
  }
}

.burger {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .burger {
    display: block;
  }
}
